.main {
    background-color: #ededed;

    display: flex;

    height: 100vh;

    justify-content: center;
    align-items    : center;

    font-family: 'Quicksand', sans-serif;
}

.all-contain {
    height : 700px;
    display: flex;

    border-radius: 34px;
    background   : #ededed;
    box-shadow   : 7px 7px 10px #c9c9c9,
        -7px -7px 10px #ffffff;
}

.main-contain {
    display       : flex;
    flex-direction: column;

    justify-content: center;
    text-align     : center;

    border-top-left-radius   : 34px;
    border-bottom-left-radius: 34px;
    width                    : 400px;
    padding                  : 30px;

    background: #ededed;
}

.main-contain>h2 {
    font-weight: bold;
}

.main-contain>input {
    width     : 100%;
    padding   : 20px;
    margin-top: 20px;

    outline      : none;
    border-style : none;
    border-radius: 34px;
    background   : #ededed;
    box-shadow   : inset 5px 5px 14px #d3d3d3,
        inset -5px -5px 14px #ffffff;
}

.main-contain>input:focus {
    outline: none;
}

.main-contain>button {
    margin : 20px 100px;
    padding: 10px 3px;

    border-style : none;
    border-radius: 34px;
    background   : #ededed;
    box-shadow   : 5px 5px 13px #d5d5d5,
        -5px -5px 13px #ffffff;
}

.main-contain>button:focus {
    outline: none;
}

#end {
    font-size: 10px;
}

.password-check {
    text-align: left;

    padding: 10px;
}

.password-check>p {
    margin: 0px;
}

.status {
    display: none;

    color: red;
}

.detail-contain {
    display: flex;

    justify-content: center;

    width : 800px;
    height: inherit;

    border-top-right-radius   : 34px;
    border-bottom-right-radius: 34px;

    background-color: #90b4ce;
}

@media only screen and (max-width: 1200px) {
    .detail-contain {
        display: none;
    }

    .main-contain {
        border-top-right-radius   : 34px;
        border-bottom-right-radius: 34px;
    }
}